.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

#add-button {
  margin-top: 30vh;
  position: relative;
  bottom: 18vh;
  color: whitesmoke;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;
  padding: 20px 32px;
  border-radius: 6px;
  /* transition: filter 0.3s ease 0s, background 0.3s ease 0s; */
  background: rgb(224, 63, 84);
}

#add-button:hover {
  background: #f56376;
}
