.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

#add-button {
  margin-top: 30vh;
  position: relative;
  bottom: 18vh;
  color: whitesmoke;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;
  padding: 20px 32px;
  border-radius: 6px;
  /* transition: filter 0.3s ease 0s, background 0.3s ease 0s; */
  background: rgb(224, 63, 84);
}

#clear {
  color: whitesmoke;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;
  padding: 20px 32px;
  border-radius: 6px;
  /* transition: filter 0.3s ease 0s, background 0.3s ease 0s; */
  background: rgb(224, 63, 84);
}

#add-button:hover {
  background: #f56376;
}

#form-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#input-form {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  width: 70vw;
  height: 20vh;
  align-items: center;
  justify-content: center;
  background-color: #0b0b23;
}

.input-bar {
  background-color: var(--background--primary);
  height: 40px;
  border: 0;
  border-left-color: var(--text--secondary);
  border-bottom: 1px solid;
  border-bottom-color: var(--text--secondary);
  border-right-color: var(--text--secondary);
  border-top-color: var(--text--secondary);
  margin-bottom: 5px;
  display: flex;
}

#submit-button {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;

  border-radius: 6px;
  margin-top: 5px;

  background: rgb(224, 63, 84);
  color: whitesmoke;
  height: 20%;
  width: 40%;
}

.input-field {
  /* margin-bottom: 10px; */
  width: 60%;
  font-weight: 300;
  flex: 1;
  outline: 0;
  border: 0;
  /* padding: 10 px 10 px 5 px 0; */
  font-size: 15px;
  color: var(--text--primary);
  background-color: var(--background--primary);
  min-width: 0;
}
