h1 {
  font-size: 15px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.remove {
  height: 4vh;
  font-size: 20px;
  width: 10vw;
  margin-right: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;

  border-radius: 6px;
  margin-top: 5px;

  background: rgb(224, 63, 84);
  color: whitesmoke;
}
